/Freedom_LED_FLASH_OpenSDA_0.elf
/Freedom_LED_FLASH_OpenSDA.calltree
/Freedom_LED_FLASH_OpenSDA.config
/Freedom_LED_FLASH_OpenSDA.dataset
/Freedom_LED_FLASH_OpenSDA.dbglog
/Freedom_LED_FLASH_OpenSDA.desc
/Freedom_LED_FLASH_OpenSDA.fileCov
/Freedom_LED_FLASH_OpenSDA.flatprofiler
/Freedom_LED_FLASH_OpenSDA.frames
/Freedom_LED_FLASH_OpenSDA.perf
/Freedom_LED_FLASH_OpenSDA.rawTrace
/Freedom_LED_FLASH_OpenSDA.timeline
/Freedom_LED_FLASH_OpenSDA.trace
